# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
autopep8=1.6.0=pyhd3eb1b0_0
ca-certificates=2021.10.26=hecd8cb5_2
certifi=2021.10.8=py37hecd8cb5_0
cycler=0.11.0=pypi_0
fonttools=4.28.5=pypi_0
kiwisolver=1.3.2=pypi_0
libcxx=12.0.0=h2f01273_0
libffi=3.3=hb1e8313_2
matplotlib=3.5.1=pypi_0
mouseinfo=0.1.3=pypi_0
mss=6.1.0=pypi_0
ncurses=6.3=hca72f7f_2
numpy=1.21.5=pypi_0
opencv-python=4.5.5.62=pypi_0
openssl=1.1.1l=h9ed2024_0
packaging=21.3=pypi_0
pillow=8.4.0=pypi_0
pip=21.2.2=py37hecd8cb5_0
psutil=5.9.0=pypi_0
pyautogui=0.9.53=pypi_0
pycodestyle=2.8.0=pyhd3eb1b0_0
pygetwindow=0.0.9=pypi_0
pymsgbox=1.0.9=pypi_0
pynput=1.7.6=pypi_0
pyobjc=8.1=pypi_0
pyobjc-core=8.1=pypi_0
pyobjc-framework-accessibility=8.1=pypi_0
pyobjc-framework-accounts=8.1=pypi_0
pyobjc-framework-addressbook=8.1=pypi_0
pyobjc-framework-adservices=8.1=pypi_0
pyobjc-framework-adsupport=8.1=pypi_0
pyobjc-framework-applescriptkit=8.1=pypi_0
pyobjc-framework-applescriptobjc=8.1=pypi_0
pyobjc-framework-applicationservices=8.1=pypi_0
pyobjc-framework-apptrackingtransparency=8.1=pypi_0
pyobjc-framework-audiovideobridging=8.1=pypi_0
pyobjc-framework-authenticationservices=8.1=pypi_0
pyobjc-framework-automaticassessmentconfiguration=8.1=pypi_0
pyobjc-framework-automator=8.1=pypi_0
pyobjc-framework-avfoundation=8.1=pypi_0
pyobjc-framework-avkit=8.1=pypi_0
pyobjc-framework-businesschat=8.1=pypi_0
pyobjc-framework-calendarstore=8.1=pypi_0
pyobjc-framework-callkit=8.1=pypi_0
pyobjc-framework-cfnetwork=8.1=pypi_0
pyobjc-framework-classkit=8.1=pypi_0
pyobjc-framework-cloudkit=8.1=pypi_0
pyobjc-framework-cocoa=8.1=pypi_0
pyobjc-framework-collaboration=8.1=pypi_0
pyobjc-framework-colorsync=8.1=pypi_0
pyobjc-framework-contacts=8.1=pypi_0
pyobjc-framework-contactsui=8.1=pypi_0
pyobjc-framework-coreaudio=8.1=pypi_0
pyobjc-framework-coreaudiokit=8.1=pypi_0
pyobjc-framework-corebluetooth=8.1=pypi_0
pyobjc-framework-coredata=8.1=pypi_0
pyobjc-framework-corehaptics=8.1=pypi_0
pyobjc-framework-corelocation=8.1=pypi_0
pyobjc-framework-coremedia=8.1=pypi_0
pyobjc-framework-coremediaio=8.1=pypi_0
pyobjc-framework-coremidi=8.1=pypi_0
pyobjc-framework-coreml=8.1=pypi_0
pyobjc-framework-coremotion=8.1=pypi_0
pyobjc-framework-coreservices=8.1=pypi_0
pyobjc-framework-corespotlight=8.1=pypi_0
pyobjc-framework-coretext=8.1=pypi_0
pyobjc-framework-corewlan=8.1=pypi_0
pyobjc-framework-cryptotokenkit=8.1=pypi_0
pyobjc-framework-devicecheck=8.1=pypi_0
pyobjc-framework-dictionaryservices=8.1=pypi_0
pyobjc-framework-discrecording=8.1=pypi_0
pyobjc-framework-discrecordingui=8.1=pypi_0
pyobjc-framework-diskarbitration=8.1=pypi_0
pyobjc-framework-dvdplayback=8.1=pypi_0
pyobjc-framework-eventkit=8.1=pypi_0
pyobjc-framework-exceptionhandling=8.1=pypi_0
pyobjc-framework-executionpolicy=8.1=pypi_0
pyobjc-framework-externalaccessory=8.1=pypi_0
pyobjc-framework-fileprovider=8.1=pypi_0
pyobjc-framework-fileproviderui=8.1=pypi_0
pyobjc-framework-findersync=8.1=pypi_0
pyobjc-framework-fsevents=8.1=pypi_0
pyobjc-framework-gamecenter=8.1=pypi_0
pyobjc-framework-gamecontroller=8.1=pypi_0
pyobjc-framework-gamekit=8.1=pypi_0
pyobjc-framework-gameplaykit=8.1=pypi_0
pyobjc-framework-imagecapturecore=8.1=pypi_0
pyobjc-framework-imserviceplugin=8.1=pypi_0
pyobjc-framework-inputmethodkit=8.1=pypi_0
pyobjc-framework-installerplugins=8.1=pypi_0
pyobjc-framework-instantmessage=8.1=pypi_0
pyobjc-framework-intents=8.1=pypi_0
pyobjc-framework-iosurface=8.1=pypi_0
pyobjc-framework-ituneslibrary=8.1=pypi_0
pyobjc-framework-kernelmanagement=8.1=pypi_0
pyobjc-framework-latentsemanticmapping=8.1=pypi_0
pyobjc-framework-launchservices=8.1=pypi_0
pyobjc-framework-libdispatch=8.1=pypi_0
pyobjc-framework-linkpresentation=8.1=pypi_0
pyobjc-framework-localauthentication=8.1=pypi_0
pyobjc-framework-mapkit=8.1=pypi_0
pyobjc-framework-mediaaccessibility=8.1=pypi_0
pyobjc-framework-medialibrary=8.1=pypi_0
pyobjc-framework-mediaplayer=8.1=pypi_0
pyobjc-framework-mediatoolbox=8.1=pypi_0
pyobjc-framework-metal=8.1=pypi_0
pyobjc-framework-metalkit=8.1=pypi_0
pyobjc-framework-metalperformanceshaders=8.1=pypi_0
pyobjc-framework-metalperformanceshadersgraph=8.1=pypi_0
pyobjc-framework-mlcompute=8.1=pypi_0
pyobjc-framework-modelio=8.1=pypi_0
pyobjc-framework-multipeerconnectivity=8.1=pypi_0
pyobjc-framework-naturallanguage=8.1=pypi_0
pyobjc-framework-netfs=8.1=pypi_0
pyobjc-framework-network=8.1=pypi_0
pyobjc-framework-networkextension=8.1=pypi_0
pyobjc-framework-notificationcenter=8.1=pypi_0
pyobjc-framework-opendirectory=8.1=pypi_0
pyobjc-framework-osakit=8.1=pypi_0
pyobjc-framework-oslog=8.1=pypi_0
pyobjc-framework-passkit=8.1=pypi_0
pyobjc-framework-pencilkit=8.1=pypi_0
pyobjc-framework-photos=8.1=pypi_0
pyobjc-framework-photosui=8.1=pypi_0
pyobjc-framework-preferencepanes=8.1=pypi_0
pyobjc-framework-pushkit=8.1=pypi_0
pyobjc-framework-quartz=8.1=pypi_0
pyobjc-framework-quicklookthumbnailing=8.1=pypi_0
pyobjc-framework-replaykit=8.1=pypi_0
pyobjc-framework-safariservices=8.1=pypi_0
pyobjc-framework-scenekit=8.1=pypi_0
pyobjc-framework-screensaver=8.1=pypi_0
pyobjc-framework-screentime=8.1=pypi_0
pyobjc-framework-scriptingbridge=8.1=pypi_0
pyobjc-framework-searchkit=8.1=pypi_0
pyobjc-framework-security=8.1=pypi_0
pyobjc-framework-securityfoundation=8.1=pypi_0
pyobjc-framework-securityinterface=8.1=pypi_0
pyobjc-framework-servicemanagement=8.1=pypi_0
pyobjc-framework-social=8.1=pypi_0
pyobjc-framework-soundanalysis=8.1=pypi_0
pyobjc-framework-speech=8.1=pypi_0
pyobjc-framework-spritekit=8.1=pypi_0
pyobjc-framework-storekit=8.1=pypi_0
pyobjc-framework-syncservices=8.1=pypi_0
pyobjc-framework-systemconfiguration=8.1=pypi_0
pyobjc-framework-systemextensions=8.1=pypi_0
pyobjc-framework-uniformtypeidentifiers=8.1=pypi_0
pyobjc-framework-usernotifications=8.1=pypi_0
pyobjc-framework-usernotificationsui=8.1=pypi_0
pyobjc-framework-videosubscriberaccount=8.1=pypi_0
pyobjc-framework-videotoolbox=8.1=pypi_0
pyobjc-framework-virtualization=8.1=pypi_0
pyobjc-framework-vision=8.1=pypi_0
pyobjc-framework-webkit=8.1=pypi_0
pyparsing=3.0.6=pypi_0
pyperclip=1.8.2=pypi_0
pyrect=0.1.4=pypi_0
pyscreeze=0.1.28=pypi_0
python=3.7.11=h88f2d9e_0
python-dateutil=2.8.2=pypi_0
pytweening=1.0.4=pypi_0
readline=8.1=h9ed2024_0
rubicon-objc=0.4.2=pypi_0
setuptools=58.0.4=py37hecd8cb5_0
six=1.16.0=pypi_0
sqlite=3.37.0=h707629a_0
tk=8.6.11=h7bc2e8c_0
toml=0.10.2=pyhd3eb1b0_0
wheel=0.37.0=pyhd3eb1b0_1
xz=5.2.5=h1de35cc_0
zlib=1.2.11=h4dc903c_4
